.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* 세로 가운데 정렬 */
        text-align: left;
}


.propBtn{
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 11;
}

hr {
    background-color: #E3D7FF;
    height: 5px;
    padding: 0;
    margin: 0px;
}

