body ,html{
    position: relative;
    min-height: 100vh;
}

.authpage,
.JoinContainer,
.loginContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 800px;
    height: 100vh;
    padding: 50px;
    background-color: #ffffff;
    z-index: 1000;
}

.authText {
    font-weight: 100;
    font-size: 45px;
    margin-top: 5px;
}

/* 라벨 위에 배치+아래 요소 정렬 */
.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 130px;
    margin-bottom: 20px;
    gap: 30px;
}


.userid,
.userpw {
    width: 550px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
    font-size: 30px;
    padding: 0 30px;
    box-sizing: border-box;
    
}

.blueBtn {
    width: 550px;
    height: 90px;
    font-size: 35px;
    border-radius: 50px;
    background-color: #C9D5FF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
}


.pinkBtn {
    width: 550px;
    height: 90px;
    font-size: 35px;
    border-radius: 50px;
    background-color: #F8C9FF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
}

.blueBtn:hover {
    background-color: #B9B7E8;
}

.pinkBtn:hover {
    background-color: #D4B6E8;
}
/* 문구 */
.askText {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
}

.tologin{
    width: 100%;
    margin-top: 350px;
    margin-bottom: 50px;
}