.writeBtn {
    all: unset;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 3;
}

.letterList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 70px;
}

.letterItem {
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 20px;
}

.letterItem:hover {
    transform: translateY(-10px);
}

.letterSvg {
    width: 350px;
    height: 200px;
    transition: all 0.3s ease-in-out;
  }
  .letterItem:hover .letterSvg {
    transform: scale(1.05);
  }
  

/*편지지 제목*/
.letterTitle {
    position: absolute;
    bottom: -70px;
    left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    z-index: 2;
}

.letterSender {
    position: absolute;
    bottom: -90px;
    left: 100px;
    font-size: 14px;
    color: #666;
    z-index: 2;
}
