.writeBtn {
    all: unset;
    /* 기본 버튼 스타일 제거 */
    position: fixed;
    bottom: 50px;
    right: 40px;
}


.letterList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 한 줄에 4개 */
    gap: 60px;
    padding: 70px;
}

.letterItem {
    position: relative;
    /* 안의 텍스트 위치 잡으려면 필요! */
    background-color: #f5f5f5;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 20px;
    overflow: hidden;
}

.letterItem:hover {
    transform: translateY(-10px);
}

.letterTitle {
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.letterSender {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #666;
}
