body {
position: relative;
min-height: 100vh;

}

.letterWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 200px;
    padding: 2rem;

}

.logo{
    position: fixed;
    left: 400px;
    top: 700px;
}

.submessage {
    position: fixed;
    font-family: "온글잎위씨리스트";
    bottom: 200px;
    left: 350px;
    font-size: 50px;
}


.letterImg {
    position:fixed;
    top: 210px;
    left: 280px;
    width: 700px;
    height: auto;
    display: block;
    pointer-events: none;
    /*클릭 이벤트 없애기*/
}

#writeLetter {
    margin-top: 100px;
    margin-left: 300px;
}