body {
position: relative;
min-height: 100vh;

}

.letterWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 200px;
    padding: 2rem;

}

.logo{
    position: fixed;
    left: 290px;
    top: 700px;
}

.submessage {
    position: fixed;
    color: #817CFF;
    font-family: "온글잎위씨리스트";
    bottom: 200px;
    left: 230px;
    font-size: 50px;
}


.letterImg {
    position:fixed;
    top: 210px;
    left: 150px;
    width: 700px;
    height: auto;
    display: block;
    pointer-events: none;
    /*클릭 이벤트 없애기*/
}

#writeLetter {
    margin-top: 100px;
    margin-left: 300px;
}

.loginBtn{
    position:relative;
    top: 300px;
    width: 550px;
    height: 100px;
    font-size: 35px;
    border-radius: 50px;
    background-color: #C9D5FF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 50px;
}

.joinBtn {
    position: relative;
    top: 300px;
    width: 550px;
    height: 100px;
    font-size: 35px;
    border-radius: 50px;
    background-color: #F8C9FF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 50px;
}

.loginBtn:hover {
    background-color: #B9B7E8;
}

.joinBtn:hover {
    background-color: #D4B6E8;
}