.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* 세로 가운데 정렬 */
    
}

.letter-paper {
    position: relative;
    /* 자식 요소 위치 기준점 */
    left: 350px;
    bottom: 10px;
    width: 1000px;
    height: 500px;
    padding: 100px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.letter-title {
    font-size: 50px;
    padding: 10px;
    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 클릭 시 생기는 테두리 제거 */
}

hr {
    background-color: #E3D7FF;
    height: 10px;
    padding: 0;
    margin: 10px;
}

.letter-content {
    font-family: pretendard;
    height: 600px;
    padding: 15px;
    font-size: 50px;
    resize: none;
    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 클릭 시 생기는 테두리 제거 */
}

.submitBtn {
    position: fixed;
    font-size: 45px;
    width: 300px;
    height: 100px;
    bottom: 60px;
    right: 20px;
    background-color: #D4B6E8;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.submitBtn:hover {
    background-color: #818181;
}

.DecoContainer{
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 450px;
    left: 500px;
}


.letterColor{
    display: flex;
    gap: 15px; 
    position:relative;
    bottom: 450px;
    right: 1330px;
}