body {
position: relative;
min-height: 100vh;

}

.letterWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 200px;
    padding: 2rem;

}


h1 {
    margin-top: 20px;
    font-size: 6rem;
    color: #8E7DBE;
    position: relative;
    left: 230px;
}

h2 {
    position: relative;
    font-family: "온글잎위씨리스트";
    margin-top: -40px;
    /* 위로 올리기 */
    left: 220px;
}


.letterImg {
    width: 700px;
    height: auto;
    display: block;
    pointer-events: none;
    /*클릭 이벤트 없애기*/
}

#writeLetter {
    margin-top: 100px;
    margin-left: 300px;
}