html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*  스크롤바 제거 */
  background: linear-gradient(to bottom, #FFB0D0, #FFFFFF);
  /* 배경색 적용 */
  display: flex;
  align-items: center;
  /* 세로 중앙 */
}


@font-face {
  font-family: "온글잎위씨리스트";
  src: url("./fonts/온글잎 위씨리스트.ttf");
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


.App {
  font-family: 'Pretendard-Regular';
  text-align: center;

}

/* 텍스트 스타일 */

@media screen and (min-width: 500px) {

  /* 버튼 스타일 */
  button {
    padding: 20px 40px;
    /* 버튼 크기 */
    font-size: 1.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin: 0 40px;
    /*버튼 사이 간격*/
  }


  /* 버튼에 커서가 닿았을떄 */
  button:hover {
    background-color: #b0b0b0;
    transform: scale(1.1);
  }


}